option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mbys_project.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mbys_project.settings
  
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /staticfiles: staticfiles